/* GENERAL STYLES */
body{
    font-family: 'Roboto', sans-serif;
    padding-top: 80px;
}

h1{
    color: #fff;
    font-size: 35px;
}

h2{
    font-size: 28px;
}

h3{
    font-size: 24px;
}

h4{
    font-size: 16px;
}

p{
    font-size: 20px;
}

a{
    color: #2687fd;
    text-decoration: none;  
}
/* ///////////////////////////////////////////////////////// */

/* UTILITIES */
.no-display{
    display: none;
}
/* ///////////// */

/* Text */
.text-small{
    font-size: 12px;
}

p.small-p{
    font-size: 0.9rem;
}

.text-xsmall{
    font-size: 0.85rem;
}
/* ///////////// */

/* Color */
.c-darkblue{
    color: #0B2352;
}

.c-darkgray{
    color: #6f7b97;
}

.c-white{
    color: #fff;
}

.c-transparent{
    color: #bbccff;
}

.c-gray{
    color: #8b94a9;
}

.c-acquamarine{
    color: #00d5d1;
}

.bg-gray{
    background-color: #f3f5f9;
}

.bg-white{
    background-color: #fff;
}

.bg-blue{
    background-color: #0047c5;
}

.bg-darkblue{
    background-color: #031c4e;
}
/* ///////////// */

/* List */
.no-style-list{
    list-style: none
}

/* Inline-list */
.inline-list li{
    display: inline-block;
    padding: 0 10px;
    vertical-align: middle;
}
/* ///////////// */

/* Down-arrow-item */
.my-small-dropdown::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900; 
    content: "\f078";
    vertical-align: middle;
    padding-left: 5px;
}
/* ///////////// */

/* Buttons */
.my-btn{
    display: inline-block;
    line-height: 1;
    border: 1px solid #006aff;
    border-radius: 5px;
    padding: 9px 10px;
    background: #fff;
    transition: all 0.4s;
}

.my-btn.my-btn-big{
    padding: 10px 12px;
}

.inline-list .my-btn{
    color: #006aff;
}

.my-btn.btn-full-w{
    width: 100%;
    text-align: center;
    border-color: transparent;
    padding: 7px 0;
}

.my-btn.br-transparent{
    border-color: transparent;
}

.header-content .my-btn:hover,
.get-started .my-btn:hover{
    background-color: #006aff;
    color: #fff;
}

.header-content .my-btn:active,
.get-started .my-btn:active{
    transform: translateY(4px);
}
/* ///////////////////////////////////////////////////////// */

/* HEADER */
.header-content{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    line-height: 80px;
}

.header-content img{
    width: 180px;
    vertical-align: middle;
}

.header-content i{
    color: #2687fd;
    font-size: 20px;
    vertical-align: middle;
    cursor: pointer;
}

.header-content a{
    transition: color 0.4s;
}

.header-content a:hover{
    color: #006aff;
}
/* ///////////////////////////////////////////////////////// */

/* HERO */
.hero-content{
    background-image: url(../img/bg-banner-home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.hero-content h1 ~ p{
    color: #bbccff;
    line-height: 30px;
}
/* ///////////// */

/* Form */
.hero-content .my-form-wrap{
    border-radius: 5px;
    padding: 30px 15px;
}

.hero-content .my-form-wrap h3 span{
    color: #006aff;
}

.my-form-wrap .my-form input{
    display: block;
    width: 100%;
    padding: 10px 5px;
    border: 1px solid rgba(204, 204, 204, 0.4);
    box-shadow: 0px 0px 5px 1px rgb(204, 204, 204, 0.4);
    border-radius: 5px;
}

.my-form-wrap .my-form input::placeholder{
    font-weight: bold;
    color: #7d7d7d;
}

.my-form-wrap .my-form input:focus{
    outline: none;
    box-shadow: 0 0 2px 1px #006aff;
}

.my-form-wrap .my-form button{
    font-weight: bold;
    cursor: pointer;
}

.my-form-wrap .my-form button:nth-child(3){
    background-color: #2687fd;
}

.my-form-wrap .my-form button:last-child{
    position: relative;
    color: #696868;
    box-shadow: 2px 2px 3px rgb(204, 204, 204, 0.4);
}

.my-form-wrap .my-form button:last-child .google-logo{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 18px;
}

.my-form-wrap .my-form button:hover{
    color: #006aff;
    border-color: #006aff;
    background-color: #fff;
}

.my-form-wrap .my-form button:last-child:hover{
    border-color: transparent;
}
/* ///////////// */

/* Terms of service */
.my-form-wrap p a{
    text-decoration: underline;
}
/* ///////////////////////////////////////////////////////// */

/* SPONSOR */
.sponsor-content{
    padding-top: 50px;
    padding-bottom: 30px;
}

.sponsor-content .inline-list li{
    width: calc(100% / 2 - 15px);
}

.sponsor-content .inline-list img{
    max-width: 150px;
    width: 100%;
}

.sponsor-content a:hover{
    text-decoration: underline;
}
/* ///////////////////////////////////////////////////////// */

/* DEPLOY AND SCALE */
.deploy-content{
    padding-bottom: 25px;
}

.deploy-content .container{
    padding: 0 15px;
}

.deploy-content p{
    line-height: 25px;
}

.deploy-content .my-deploy-col{
    border-left: 2px solid #7c869f57;
}

.deploy-content ul li a{
    color: #7c869f;
    line-height: 38px;
}
/* ///////////////////////////////////////////////////////// */

/* SLIDE */
.slide-wrap img{
    width: 100%;
    max-width: 300px;
}

.slide-wrap .inline-list li{
    padding: 0;
    width: 10px;
    height: 10px;
    border: 1px solid #006aff;
    border-radius: 50%;
    cursor: pointer;
}

.slide-wrap .inline-list li:first-child{
    background-color: #006aff;
}
/* ///////////// */

/* Slide-1 & Slide-2*/
.slide-1-content,
.slide-2-content{
    padding: 60px 20px;
}
/* ///////////// */

/* Slide-2 */
.slide-2-content .slide-img-wrap{
    padding: 35px 5px;
    max-width: 600px;
}

.slide-2-content .slide-img-wrap strong{
    font-size: 0.95rem;
}

.slide-2-content .slide-img-wrap span{
    display: block;
    font-size: 0.75rem;
}

.slide-2-content .slide-img-wrap a{
    width: 100%;
}
/* ///////////////////////////////////////////////////////// */

/* FEATURES */
.features-content .small-img{
    width: 33px;
}

.features-content a:hover{
    text-decoration: underline;
}
/* ///////////////////////////////////////////////////////// */

/* REGIONS */

/* Table */
.regions-content{
    background: linear-gradient(#0047c5, #00209b);
    padding: 80px 0;
}

.regions-content table{
    border-collapse: collapse;
    width: 100%;
}

.regions-content table th,
.regions-content table td{
    border-bottom: 1px solid #fff;
    padding: 10px;
}

.regions-content table tr:last-child th,
.regions-content table tr:last-child td{
    border-bottom: none;
}

.regions-content table td a:hover{
    text-decoration: underline;
}
/* ///////////////////////////////////////////////////////// */

/* GET STARTED */
.get-started{
    background: linear-gradient(#0047c5, #00209b);
    padding: 80px 0 60px 0;
}
/* ///////////////////////////////////////////////////////// */

/* FOOTER */
.foot-content{
    padding: 60px 0 30px 0;
}

.foot-content p{
    font-size: 16px;
}

.foot-content .socials li{
    padding: 0 5px;
}

.foot-content .socials li i{
    font-size: 21px;
}

.foot-content .info li:first-child h4{
    font-size: 18px;
}

.foot-content .info li a{
    color: #a2aabb;
    line-height: 30px;
    transition: color 0.3s;
}

.foot-content li a:hover{
    color: #fff;
}
/* ///////////////////////////////////////////////////////// */

/* SHARK-CHAT */
.shark-chat{
    position: fixed;
    z-index: 9;
    bottom: 3%;
    right: 5%;
    cursor: pointer;
    filter: drop-shadow(0px 3px 10px rgba(112, 112, 112, 0.363));
}

.shark-chat .shark-wrap{
    width: 60px;
    height: 60px;
    background-color: #006aff;
    padding-top: 5px;
    border-radius: 5px;
}

.shark-chat .shark-wrap img{
    width: 100%;
    height: auto;
}

.shark-chat .notifications,
.shark-chat .notifications .notif-number,
.shark-chat .shark-text,
.shark-chat .shark-text .triangle{
    position: absolute;
}

.shark-chat .notifications{
    width: 16px;
    height: 16px;
    color: white;
    border-radius: 50%;
    top: -8px;
    right: -8px;
}

.shark-chat .notifications .notif-number{
    width: 14px;
    height: 14px;
    background-color: red;
    border-radius: 50%;
    line-height: 14px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.shark-chat .shark-text{
    padding: 8px;
    border-radius: 5px;
    width: 65vw;
    max-width: 250px;
    top: 50%;
    transform: translateY(-50%);
    right: calc(100% + 20px);
}

.shark-chat .shark-text .triangle{
    width: 16px;
    height: 16px;
    right: -8px;
    bottom: 10px;
    transform: rotate(45deg);
}
/* ///////////////////////////////////////////////////////// */

/* RESPONSIVE */

/* SM */
@media screen and (min-width: 768px){
    /* GENERAL */
    h4{
        font-size: 18px;
    }

    p.small-p{
        font-size: 1rem;
    }

    .text-xsmall{
        font-size: 1rem;
    }
    /* ///////////// */

    /* SPONSOR */
    .sponsor-content{
        padding-right: 20px;
        padding-left: 20px;
    }

    .sponsor-content .inline-list li{
        width: calc(100% / 6 - 5px);
        margin-bottom: 15px;
    }
    /* ///////////// */

    /* DEPLOY AND SCALE */
    .deploy-content .my-deploy-col ul li{
        font-size: 19px;
        line-height: 50px;
    }

    .deploy-content .deploy-nested-wrap{
        margin-bottom: 30px;
    }

    .deploy-content .deploy-nested-wrap div{
        margin-bottom: 0;
        padding-left: 15px;
        padding-right: 15px;
    }
    /* ///////////// */

    /* SLIDE */
    .slide-1-content .slide-wrap img{
        max-width: 400px;
    }

    .slide-wrap .slide-img-wrap{
        position: relative;
        display: inline-block;
    }
    
    .slide-wrap .slide-img-wrap::before,
    .slide-wrap .slide-img-wrap::after{
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 42px;
        cursor: pointer;
        position: absolute;
        top: 45%;
    }
    
    .slide-wrap .slide-img-wrap::after{
        content: "\f105";
        color: #0B2352;
        left: 103%;   
    }
    
    .slide-wrap .slide-img-wrap::before{
        content: "\f104";
        color: #0b23528e;
        right: 103%;
    }
    /* ///////////// */

    /* SLIDE-2 */
    .slide-2-content .slide-img-wrap{
        padding: 60px 15px;
    }
    /* ///////////// */

    /* FEATURES */
    .features-content .small-img{
        width: 40px;
    }
}
/* ///////////////////////////////////////////////////////// */

/* MD */
@media screen and (min-width: 992px){
    /* GENERAL */
    h1{
        font-size: 55px;
    }
    
    h2{
        font-size: 38px;
    }
    
    h3{
        font-size: 30px;
    }
    
    h1 ~ p{
        font-size: 24px;
    }

    h2 ~ p{
        font-size: 22px;
    }
    /* ///////////// */

    /* REGIONS */
    .regions-content table:first-child{
        margin-bottom: 0;
    }
    /* ///////////// */

    /* BUTTON */
    .my-btn.my-btn-big{
        padding: 14px 20px;
        font-size: 17px;
    }
}
/* ///////////////////////////////////////////////////////// */

/* LG */
@media screen and (min-width: 1200px){

    /* HEADER */
    .header-content .my-dropdown{
        display: none;
    }

    .header-content .no-display{
        display: inline-block;
    }
    /* ///////////// */

    /* SLIDE */
    .slide-1-content .slide-wrap img{
        max-width: 600px;
    } 

    .slide-2-content .slide-wrap img{
        max-width: 400px;
    } 
}
/* ///////////////////////////////////////////////////////// */